In [1]:
import pandas as pd

In [5]:
l=list()

In [6]:
st= """This creates the target directory (including parent directories as needed)
and places a pyvenv.cfg file in it with a home key pointing to the Python installation from which the command was run. It also creates a bin (or Scripts on Windows) subdirectory containing a copy or symlink of the Python executable (as appropriate for the platform or arguments used at environment creation time). It also creates a lib/pythonX.Y/site-packages subdirectory (
on Windows, this is Libsite-packages). If an existing directory is specified, it will be re-used."""

In [13]:
di={}
for col in st.split():
    if len(col)>3:
        di[col]= len(col)

{'This': 4,
 'creates': 7,
 'target': 6,
 'directory': 9,
 '(including': 10,
 'parent': 6,
 'directories': 11,
 'needed)': 7,
 'places': 6,
 'pyvenv.cfg': 10,
 'file': 4,
 'with': 4,
 'home': 4,
 'pointing': 8,
 'Python': 6,
 'installation': 12,
 'from': 4,
 'which': 5,
 'command': 7,
 'run.': 4,
 'also': 4,
 'Scripts': 7,
 'Windows)': 8,
 'subdirectory': 12,
 'containing': 10,
 'copy': 4,
 'symlink': 7,
 'executable': 10,
 'appropriate': 11,
 'platform': 8,
 'arguments': 9,
 'used': 4,
 'environment': 11,
 'creation': 8,
 'time).': 6,
 'lib/pythonX.Y/site-packages': 27,
 'Windows,': 8,
 'this': 4,
 'Libsite-packages).': 18,
 'existing': 8,
 'specified,': 10,
 'will': 4,
 're-used.': 8}

In [14]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [15]:
pd.DataFrame.from_dict(data)

   calories  duration
0       420        50
1       380        40
2       390        45

In [19]:
csvFile = pd.read_csv('titanic.csv')
print(csvFile)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [12]:
my_list = [4, 6, 1, 4, 1, 22, 78, 54, 39, 1, 20]
my_list.sort()
print("My Original is :", my_list)
# new_sorted=sorted(my_list)
print("My New Sorted list:", new_sorted)

My Original is : [1, 1, 1, 4, 4, 6, 20, 22, 39, 54, 78]
My New Sorted list: [1, 1, 1, 4, 4, 6, 20, 22, 39, 54, 78]

In [1]:
num_list=[]
for i in range(10):
    num_list.append(i)
print("Append list:",num_list)

Append list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
[f"{i} is even" if i % 2 == 0 else f"{i} is odd" for i in range(10)]

['0 is even',
 '1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '5 is odd',
 '6 is even',
 '7 is odd',
 '8 is even',
 '9 is odd']

In [16]:
year = int(input("Enter any Year: "))
print(year,"is a leap year" if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0) else year,"is not a leap year")

Enter any Year:  2023

2023 is not a leap year